body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}